.react-tabs {
  display: flex;
  align-items: center;
  margin-left: 160px;
  height: 500px;
  outline: none;
  //margin-bottom: 300px;
}

.react-tabs__tab {
  position: relative;
  //height: 10px;
  //list-style: none;
  //padding: 25px 6px;
  //cursor: pointer;
   .ttt {
    border-bottom: 1px solid white;
    width: 150px;
    margin: 15px auto;
     opacity: 0.2;
  }

}


.react-tabs__tab-list {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  flex-direction: column;
  width: 270px;
  height: 318px;
  margin: 40px;
  color: white;
  background: #262d3a;
}



.react-tabs__tab--selected {
  //transition: .3s;
  //background: #810000;
  //border: none;
  //outline: none;
  //color: white;
  .dd{
    display: block;
  }

}
.dd {
  position: absolute;
  top: 30px;
  left: 250px;
  width: 10px;
  height: 1px;
  background: white;
  display: none;

}
.react-tabs__tab {
  //text-align: center;
}


.panel-page {
  margin-left: -60px;
  margin-top: 50px;


  &__title {
    font-family: "Spartan", sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #FFFFFF;
    margin: 50px 0 20px 0;
  }

  &__img {
    //background: white;
    //margin: 7px 5px;
  }
  &__img2 {
    //background: #1F2731;
    //padding: 0 0 20px 0;
    //margin: 50px 5px;

    &__img4{
      padding: 0 20px;
    }
  }

  //panel--page__img2{
  //  background: red;
  //
  //}


  h2{
    font-family: 'Spartan',sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1F2731;
    margin-left: 10px;
    padding: 10px 0;

  }

  p {
    font-family: 'Spartan',sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #939393;
    margin-left: 10px;

    span{
      color: red;
      font-family: 'Inter', sans-serif;
      font-size: 15px;
      margin-left: 150px;
    }
  }

}

.menu{
  //height: 100vh;
  //margin: 100px 0;
  padding-bottom: 200px;
}

.menu--svg {
  position: absolute;
  top: 90px;
  left: 30px;
}
.panel-page__img2 {
  background: #1F2731;
  padding: 0 0 7px 0;
}


.panel-page__img4{
  padding: 7px 20px;
  h3{
    color: #FFFFFF;
  }
  &--block1__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    padding: 5px 0;
  h4{
    font-size: 15px;
    color: #939393;
  }
    h6{
      font-size: 15px;
      color: #939393;
    }
  }
  &--block2{
    padding: 13px 0;
  }
}

.panel-page__img3--block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left{
    padding: 6px 15px;
    h3{
      color: #FFFFFF;
      padding: 5px 0;
    }
    h6{
      color: #BBBBBB;
    }
  }
  &__right{
    h4{
      color: #810000;
      padding: 0 15px;
    }
  }
}


















