#main {

  .block {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: 'Shalimar', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #FFFFFF;
      padding: 10px 10px;
    }

    &__vector {
      display: flex;
      //align-items: center;
      flex-direction: column;
    }
  }

  h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
  }

  .main_block {

    .react-tabs {
      //display: flex;
      //align-items: center;
      margin-left: 290px;
      outline: none;

    }

    .react-tabs__tab-list {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      flex-direction: column;
      width: 280px;
      //margin: 0;
      //padding: 0;
      color: white;
      font-size: 16px;
      height: 319px;
      background: #1F2731;
    }

    .react-tabs__tab {
      height: 10px;
      list-style: none;
      padding: 25px 6px;
      cursor: pointer;
      div{
        border-bottom: 0.1px solid rgba(169, 168, 168, 0.86);
        width: 150px;
        margin: 15px auto;
      }
    }

    .react-tabs__tab--selected {
      transition: .3s;
      background: #810000;
      border: none;
      outline: none;
      color: white;

    }

    .react-tabs__tab {
      text-align: center;
    }


    .panel-content {
      margin-left: 50px;
      margin-top: 270px;

      &__block{
        display: flex;
        align-items: center;

        span{
          color: red;
          font-family: 'Inter', sans-serif;
          font-size: 15px;
        }
        div{
          width: 350px;
          border-bottom: 1px dashed white;
          margin: 0 10px;
        }
      }
      img {
        width: 500px;
      }

      h2{
        font-family: 'Inter', sans-serif;
        font-size: 17px;
        color: #FFFFFF;
        margin-bottom: 10px;
      }

      p {
        font-family: 'Spartan',sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #a4a3a3;
      }

      h4{
        font-family: 'Spartan',sans-serif;
        font-weight: 100;
        font-size: 10px;
        color: #FFFFFF;
        margin-left: 460px;
        width: 50px ;
        padding: 5px 0;
        text-align: center;
        border-bottom: 1px solid white;
        margin-bottom: 30px;
      }
    }

    &__arrow {
      margin: 10px 735px;
      width: 80px;
      height: 2px;
      background: red;
    }
    &__btn{
      margin-top: -20px;
      button {
        //margin-top: 100px;
        display: flex;
        align-items: center;
        margin-left: 695px;
        background: transparent;
        text-align: center;
        padding: 10px 20px;
        border: 1px solid red;
        color: white;
        cursor: pointer;
        .arrowR{
          margin-left: 10px;
        }
      }
    }
  }

}