@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

#bestSeller {
  margin: 100px 0 135px 0;

  .best {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &--title {
      &__first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;

        h1 {
          font-family: Shalimar, sans-serif;
          font-weight: 400;
          font-size: 40px;
          line-height: 49px;
          color: #FFFFFF;
        }
      }

      &__info {
        h1 {
          color: #FFFFFF;
          margin: 36px 0 22px 0;
          font-weight: 600;
          font-size: 40px;
          line-height: 61px;
          font-family: 'Inter', sans-serif;
        }

        p {
          color: #FFFFFF;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          font-family: 'League Spartan', sans-serif;
        }
      }

    }

    &-slide {
      width: 53%;

      .slick-slider {
        width: 100%;

        .slick-prev {
          display: none !important;
        }

      }
    }
  }

  .slick-next {
    right: -15px;
  }
}

@media (max-width: 1200px) {
  .slick-slide img {
    width: 235px;
  }
  .containerAbout {
    width: 85%;
  }
  #bestSeller .best{
    width: 92%;
  }
  #bestSeller .best-slide {
    width: 54%;
  }
  #bestSeller .best--title__info h1 {
    margin: 30px 0 16px 0;
  }
}
@media (max-width: 1140px) {
  #bestSeller {
    margin: 85px 0 100px 0;
  }
  #bestSeller .best--title__info h1 {
    font-size: 36px;
  }
  .slick-slide img {
    width: 228px;
  }
}
@media (max-width: 1024px) {
  #bestSeller .best--title__info h1 {
    font-size: 32px;
    line-height: 48px;
  }
  #bestSeller .best--title__first {
    width: 61%;
  }
  #bestSeller .best--title__info p {
    font-size: 14px;
  }
  .slick-slide img {
    width: 215px;
  }
  #bestSeller .best {
    width: 96%;
  }
}
@media (max-width: 992px) {
  #bestSeller .best {
    width: 97%;
  }
  .slick-slide img {
    width: 208px;
  }

}
@media (max-width: 768px) {
  #bestSeller .best{
    flex-direction: column;
    align-items: start;
  }
  #bestSeller .containerAbout{
    width: 70%;
  }
  #bestSeller .best--title__info h1{
    font-size: 40px;
    line-height: 61px;
  }
  #bestSeller .best--title__info p{
    font-size: 16px;
    line-height: 24px;
  }
  #bestSeller .best-slide {
    width: 100%;
    padding: 50px 0;
  }
  #bestSeller .best--title__first {
    width: 55%;
  }
  .slick-slide img {
    width: 250px;
  }
  #bestSeller {
    margin: 35px 0 80px 0;
  }
  #bestSeller .best--title__info h1 {
    margin: 35px 0 31px 0;
  }
}
@media (max-width: 576px) {
  .slick-slide img {
    width: 180px;
  }
  #bestSeller .best--title__info h1 {
    font-size: 30px;
    line-height: 47px;
    margin: 25px 0 25px 0;
  }
  #bestSeller .best--title__info p{
    font-size: 14px;
  }
  #bestSeller .best-slide {
    padding: 30px 0;
  }
  #bestSeller .best--title__first h1{
    font-size: 30px;
  }
  #bestSeller .best--title__first {
    width: 51%;
  }
}
@media (max-width: 450px) {
  #bestSeller .containerAbout{
    width: 88%;
  }
}
@media (max-width: 414px) {
  .slick-slide img {
    width: 165px;
  }
  .slick-slide img {
    width: 165px;
  }

}
@media (max-width: 390px) {
  .slick-slide img {
    width: 155px;
  }

}
@media (max-width: 375px) {
  .slick-slide img {
    width: 145px;
  }
}
@media (max-width: 320px) {
  #bestSeller .best--title__first {
    width: 55%;
  }
  .slick-slide img {
    width: 125px;
  }

}





