@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital@1&family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital@1&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100&family=Lora:ital@1&family=Open+Sans:wght@300&display=swap');

#hero{
  background: url("img/hero-bg.jpg") no-repeat center/cover;
  height: 720px;
  min-width: 100%;
  position: relative;
}
*{
  button{
    cursor: pointer;
  }
}

.hero{
  position: relative;
  .hero-hr1{
    position: absolute;
    width: 300px;
    height: 1px;
    opacity: 0.6;
    border: 0.4px solid #FFFFFF;
    transform: rotate(-90deg);
    left: -150px;
    bottom: 250px;
  }
  .hero-hr2{
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: 0.6;
    border: 0.4px solid #FFFFFF;
    left: 30px;
    bottom: 80px;
  }
}

.heroo{
  padding: 180px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1{
    font-family: 'Shalimar', cursive;
    font-weight: 400;
    font-size: 50px;
    color: #FFFFFF;
    padding: 0 20px;
  }

  .heroo-title{
    display: flex;
    align-items: center;
    justify-content: center;
    .vector-left{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &-bottom{
        margin: 4px 0;
      }
    }
    .vector-right{
      display: flex;
      flex-direction: column;
    }
  }
  .heroo-nav{
    h2{
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 64px;
      color: #FFFFFF;
    }
    p{
      padding: 40px 0;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
    }
    .hero-button{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .btn-top{
        margin: 8px 0;
        width: 150px;
        height: 2px;
        background: red;
      }.btn-bottom{
         margin: 8px 0;
         width: 150px;
         height: 2px;
         background: red;
       }
      .modal{
        box-shadow: 0 2px 11px 4px rgba(229,229,229,0.25);
        -webkit-box-shadow: 0 2px 11px 1px rgba(229,229,229,0.25);
        -moz-box-shadow: 0 2px 11px 4px rgba(229,229,229,0.25);
        position: absolute;
        top: 300px;
        margin: 20px 0;
        width: 250px;
        height: 260px;
        background: #13202a;
        border-radius: 10px;

        &-icon{
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        &-top{
          display: flex;
          margin: 40px 5px 0 5px;
          &_left{
            color: white;
            font-size: 35px;
            padding: 0 10px;
          }
          &_right{
            h6{
              color: #FFFFFF;
              font-weight: 100;
              padding: 0 0 5px 0;
            }
            h4{
              color: #FFFFFF;
              font-size: 13px;
              font-weight: 100;
            }
          }
        }
        &-bottom{
          display: flex;
          margin: 20px 5px;
        }
        &-btn{
          padding: 10px 15px;
          &--bbb{
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
            padding: 15px 70px;
            border-radius: 5px;
            background: #EF272C;
            border: none;
            font-size: 17px;
          }

        }
      }
      @keyframes winn {
        0%{
          transform: translateX(800px);
        }
        100%{
          transform: translateX(400px);
        }
      }
    }
    button{
      padding: 7px 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 13px;
      text-transform: uppercase;
      color: #FFFFFF;
      background: transparent;
      outline: none;
      border: 3px solid red;
      .hero-right{
        font-size: 30px;
        padding-left: 10px;
        color: white;
      }
    }
  }
}

.hero-bottom{
  position: relative;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .hero-bottom-left{
    display: flex;
    align-items: center;
    h3{
      font-weight: 600;
      font-size: 14px;
      text-transform: capitalize;
      color: #FFFFFF;
      padding: 0 15px;
    }
    hr{
      width: 50px;
      height: 1px;
    }
    .hero-location{
      color: red;
      font-size: 30px;
      z-index: 2;
      margin: 0 10px;
    }
    h6{
      font-weight: 500;
      font-size: 12px;
      line-height: 13px;
      text-transform: capitalize;
      color: #FFFFFF;
      opacity: 0.8;
    }
  }
  .hero-bottom-right{
    display: flex;
    display: flex;
    align-items: center;
    h3{
      font-weight: 600;
      font-size: 14px;
      text-transform: capitalize;
      color: #FFFFFF;
      padding: 0 15px;
    }
    hr{
      width: 50px;
      height: 1px;
    }
    .hero-phone{
      color: red;
      font-size: 25px;
      margin: 0 20px;
    }
    h6{
      font-weight: 500;
      font-size: 12px;
      line-height: 13px;
      text-transform: capitalize;
      color: #FFFFFF;
      opacity: 0.8;
    }
  }
}










