@media  (max-width: 1400px){
  .header-title input {
    margin: 0 40px;
  }
  .input .icon {
    left: 52px;
  }
}
@media  (max-width: 1240px){
  .header-title input {
    width: 157px;
  }
}
@media  (max-width: 1200px){
  .header a {
    margin: 0 30px;
  }
}
@media  (max-width: 1140px){
  .header-title input {
    margin: 0 17px;
  }
  .input .icon {
    left: 29px;
  }
}
@media  (max-width: 1024px){
  .header-title input {
    width: 123px;
  }
}
@media  (max-width: 970px){
  .header-title {
    display: none;
  }
  .header-select{
    display: none;
  }
  .Menu{
    display: block;
  }
}
@media (max-width: 800px) {
  .heroo .heroo-nav button {
    padding: 3px 32px;
  }

}
@media  (max-width: 768px){

  .heroo .heroo-nav h2 {
    font-size: 55px;
  }
  .heroo .heroo-nav p {
    padding: 20px 0;
    font-size: 13px;
  }
}
@media  (max-width: 735px){

  .hero-bottom .hero-bottom-left {
    margin: 15px 0;
  }
}
@media  (max-width: 629px){

  .heroo .heroo-nav button {
    padding: 1px 25px;
  }
}
@media  (max-width: 576px){
  .hero-bottom {
    flex-wrap: wrap;
  }
  .hero-bottom .hero-bottom-left {
    margin: 10px 0;
  }
  .heroo .heroo-nav h2 {
    font-size: 50px;
  }
  .heroo .heroo-nav p {
    padding: 13px 0;
    font-size: 11px;
  }
  .heroo h1 {
    font-size: 46px;
  }

}
@media  (max-width: 451px){
  .hero-bottom .hero-bottom-left .hero-location {
    font-size: 15px;
  }
  .hero-bottom .hero-bottom-right .hero-phone {
    font-size: 15px;
  }
}
@media  (max-width: 400px){
  .heroo .heroo-nav h2 {
    font-size: 40px;
  }
  .heroo .heroo-nav p {
     padding: 9px 0;
     font-size: 9px;
   }
  .heroo h1 {
    font-size: 40px;
  }


}
@media  (max-width: 320px){
  .heroo h1 {
    font-size: 33px;
  }
  .heroo .heroo-nav h2 {
    font-size: 30px;
  }
  .heroo .heroo-nav p {
    padding: 3px 0;
    font-size: 7px;
  }
  .heroo .heroo-nav h6 {
    line-height: 13px;
  }
  .hero .hero-hr1 {
    width: 154px;
    left: -72px;
    bottom: 128px;
  }
  .hero .hero-hr2 {
    width: 80%;
  }
  .hero-bottom .hero-bottom-left h6 {
    font-size: 7px;
  }
  .hero-bottom .hero-bottom-right h6 {
    font-size: 9px;
  }
  .hero-bottom {
    padding: 56px 0;
  }


}
