@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
//font-family: 'League Spartan', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=DM+Serif+Text&family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=DM+Serif+Text&family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&family=Inter:wght@300;400;500;600;700;800;900&family=League+Spartan:wght@400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

.containerAbout{
  width: 73%;
  margin: 0 auto;
}
#about{
  padding: 100px 0;
  .about{
    &--us{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 17%;
      h1{
        color: #FFFFFF;
        font-family: Shalimar,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
      }
    }
    &--info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0 90px 0;
      p{
        color: #FFFFFF;
        margin-right: 110px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        font-family: 'League Spartan', sans-serif;
      }
      h1{
        color: #FFFFFF;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 40px;
        line-height: 61px;
      }
    }
    &--img{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: 1200px) {
  .containerAbout {
    width: 85%;
  }
  #about .about--img img{
    width: 450px;
  }
  #about .about--img{
    width: 91%;
  }
  #about .about--info {
    display: flex;
    justify-content: space-between;
    width: 98%;
  }

}
@media (max-width: 1140px) {
  #about .about--img img {
    width: 420px;
  }
  #about .about--info {
    width: 92%;
  }
  #about {
    padding: 70px 0;
  }
    #about .about--img {
    width: 92%;
  }
  #about .about--info h1 {
    font-size: 36px;
  }
  #about .about--info {
    padding: 13px 0 65px 0;
  }
  #about .about--info p {
    margin-right: 0;
  }

}
@media (max-width: 1024px) {
  #about .about--us {
    width: 20%;
  }
  #about .about--img img {
    width: 390px;
  }
  #about .about--info p {
    font-size: 14px;
  }
  #about .about--img {
    width: 96%;
  }
  #about .about--info {
    width: 93%;
  }
  #about .about--info h1 {
    font-size: 32px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  #about .about--us h1 {
    font-size: 40px;
  }
  #about .about--us{
    width: 33%;
  }
  #about .about--info{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #about .about--info h1{
    font-size: 40px;
    line-height: 61px;
    padding: 25px 0 45px 0;
  }
  #about .about--info p{
    font-size: 18px;
    line-height: 24px;
  }
  #about .about--img{
    flex-direction: column;
    align-items: start;
  }
  #about .about--img img{
    width: 520px;
    padding-bottom: 40px;
  }
  #about .containerAbout{
    width: 70%;
  }

}
@media (max-width:576px) {
  #about .about--img img {
    width: 400px;
    padding: 0 0 30px 0;
  }
  #about .about--us {
    width: 37%;
  }
  #about .about--us h1 {
    font-size: 30px;
  }
  #about .about--info h1 {
    font-size: 30px;
    line-height: 47px;
    padding: 10px 0 30px 0;
  }
  #about .about--info p {
    font-size: 14px;
    line-height: 22px;
  }
  #about .about--img{
    margin: 0 0;
  }
  #about .about--info {
    padding: 13px 0 35px 0;
  }
  #about {
    padding: 40px 0;
  }

}
@media (max-width: 450px) {
  #about .containerAbout{
    width: 88%;
  }

}
@media (max-width: 414px) {
  #about .about--us {
    width: 38%;
  }
  #about .about--img img {
    width: 330px;
    padding: 0 0 20px 0;
  }
  #about .about--info {
    padding: 6px 0 20px 0;
  }
  #about .about--info h1 {
    padding: 5px 0 20px 0;
  }
}
@media (max-width: 400px) {
  #about .about--us {
    width: 42%;
  }
}
@media (max-width: 360px) {
  #about .about--img img {
    width: 280px;
    padding: 0 0 14px 0;
  }

}
@media (max-width: 320px) {
  #about .about--us {
    width: 50%;
  }
  #about .about--img img {
    width: 265px;
  }

}