@media (max-width: 1140px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {
  #footer .footer--menu a {
    font-size: 12px;
    padding: 0 25px;
  }
  #footer .footer h1 {
    font-size: 24px;
  }
  #footer .footer__icons a {
    font-size: 21px;
  }
  #footer .footer {
    padding-bottom: 15px;
  }
  #footer center {
    font-size: 10px;
    padding: 10px 0;
  }
  #footer {
    padding-top: 45px;
  }
}
@media (max-width: 768px) {
  #footer .footer--menu{
    display: none;
  }
}
@media (max-width: 576px) {

}
@media (max-width: 450px) {

}
@media (max-width: 414px) {

}
@media (max-width: 400px) {

}
@media (max-width: 380px) {

}
@media (max-width: 375px) {

}
@media (max-width: 360px) {

}
@media (max-width: 320px) {

}