@media (max-width: 1140px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  #contact .contact {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
  }
  #contact .contact {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
  }
  #contact .contact__maps {
    background: transparent;
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }
  #contact .contact__maps--group{
    display: none;
  }
}
@media (max-width: 576px) {
  #contact .contact__maps {
    padding: 0;
  }
  #contact .contact__maps {
    line-height: 30px;
  }
}
@media (max-width: 450px) {

}
@media (max-width: 430px) {
  #contact .contact__maps iframe {
    width: 80%;
    height: 30vh;
    margin: 10px 35px;
  }
}
@media (max-width: 400px) {

}
@media (max-width: 380px) {

}
@media (max-width: 375px) {

}
@media (max-width: 360px) {
  #contact .contact__maps iframe {
    width: 80%;
    height: 30vh;
    margin: 9px 30px;
  }
}
@media (max-width: 320px) {

}