
.container {

  .modern {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 90px;

    h2 {
      font-family: 'Shalimar', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #FFFFFF;
      padding: 0 10px;
    }

    &__vector {
      display: flex;
      flex-direction: column;
    }


  }



  .line {
    height: 0;
    border: 0.4px solid #E5E5E5;
    opacity: 0.3;
    transform: rotate(90deg);
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 42px;

    img {
      padding: 0 7px;
    }
  }

  .img {
    padding-bottom: 20px;
  }

}
