::-webkit-scrollbar{
  width: 0;
}

#modern {
  padding-top: 110px;
  position: relative;

  .line{
    position: absolute;
    height: 490px;
    width: 2px;
    background: #E5E5E5;
    left: 4%;
    opacity: .6;
    top: 190px;
  }
  .modern {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -5.2%;

    &--text {
      display:flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 32px;
      &__block {
        display: flex;
        flex-direction:column;

        &--img {
          padding:2px 0;
        }

      }
      &__title {
        margin: 0 30px;
        font-family: 'Shalimar',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
      }
    }

    &--img {

    }

    &--image {
      margin: 0 25px;

      &__fon {
        display: flex;
        align-items: center;
        margin: 10px 0;

        img {
          margin: 0 6px;
        }
      }
    }
  }
}