@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:ital,wght@0,300;1,100&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Shalimar&family=Ubuntu:wght@500&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}
body{
  background: #313131;
}

a {
  font-family: sans-serif;
}


.App{
  background: #1B2026;
}
