
.react-tabs {
  display: flex;
  align-items: center;
  margin-left: 160px;
  height: 500px;
  outline: none;
  margin-bottom: 200px;
}

.react-tabs__tab-list {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  flex-direction: column;
  width: 280px;
  height: 315px;
  margin: 40px;
  color: white;
  background: #1F2731;

}

.react-tabs__tab {
  height: 10px;
  list-style: none;
  padding: 25px 6px;
  cursor: pointer;

  p {
    margin-top: -12px;
  }

  .ttt {
    border-bottom: 1px solid white;
    width: 150px;
    margin: 15px auto;
    opacity: 0.2;
  }
}


.react-tabs__tab--selected {
  .dd {
    display: block;
  }

}


//.react-tabs__tab div {
//  border-bottom: 1px solid white;
//  width: 150px;
//  opacity: 0.2;
//}


.dd {
  position: absolute;
  top: 25px;
  left: 250px;
  width: 10px;
  height: 1px;
  opacity: 0.7;
  background: white;
  display: none;

}

.react-tabs {
  margin-left: 0;
}


.react-tabs__tab--selected {
  transition: .3s;
  background: #940202;
  border: none;
  outline: none;
  color: white;
}

.react-tabs__tab {
  text-align: center;
  list-style: none;
  padding: 26px 0;
  cursor: pointer;

  .ttt {
    border-bottom: 1px solid rgba(187, 184, 184, 0.86);
    width: 190px;
    margin: 14px auto;
  }
}

.panel-page {
  margin-left: 116px;
  margin-top: 285px;

  &__img {
    background: white;
    padding-bottom: 9px;
    margin: 10px 8px;
  }

  img {
    width: 270px;
    height: 137px;
  }

  h2 {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1F2731;
    margin-bottom: -10px;
    margin-left: 10px;


    span {
      color: red;
      font-family: 'Inter', sans-serif;
      font-size: 15px;
      margin-left: 157px;
    }
  }

  p {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #939393;
    margin-left: 10px;
  }


}


.tab_new{
  display: none;
}
//
//@media (max-width: 1440px) {
//
//
//  .react-tabs {
//    margin-left: 199px;
//  }
//
//}
//
//@media (max-width: 1200px) {
//
//  .react-tabs {
//    margin-left: 89px;
//  }
//
//}
//
//@media (max-width: 1024px) {
//  .react-tabs {
//    margin-left: 66px;
//    outline: none;
//  }
//  //.react-tabs__tab-panel react-tabs__tab-panel--selected{
//  //  margin-left: -62px;
//  //}
//  .react-tabs {
//    margin-left: 23px;
//  }
//  .react-tabs__tab-panel {
//    margin-left: -92px;
//  }
//}
//
//@media (max-width: 992px) {
//  .react-tabs {
//    margin-left: 29px;
//  }
//  .react-tabs__tab-list {
//    width: 253px;
//  }
//  .dd {
//    left: 227px;
//  }
//}


@media (max-width: 768px) {
  ::-webkit-scrollbar{
    width: 0;
  }
#menu{
  .tab_tab{
    display: flex;
    width: 500px;
    div{
      width: 100px;
      border: 1px solid red;
    }
  }
}
  .tab{
    display: none;
  }
  .tab_new{
    display: block;
    padding: 10px 0;
    &Tabs{
      &TabList{
        display: flex;
        &Tab{
          display: flex;
        }
      }
    }
  }

  .react-tabs__tab-list {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
    justify-content: center;
  }
  .react-tabs__tab {
    width: 230px;
    height: 50px;
  }
  .react-tabs {
    flex-direction: column;
    align-items: flex-start;
  }


  .panel-page {
    //display: none;
    .glav-div{
      display: flex;
      flex-direction: column;
    }
    &__img{
      position: relative;
      display: flex;
      background: transparent;
      //margin-left: -270px;
      &--div1{
        display: flex;

        &--h2{
          display: flex;
          flex-direction: column;
        }
      }

    }

  }
  .panel-page {
    h2{
      display: flex;
      flex-direction: column;
      font-size: 25px;
      color: white;
      span{
        margin-left: -2px;
        padding: 67px 0 0 0;
        font-size: 30px;
      }
    }
    p{
      position: absolute;
      top: 60px;
      font-size: 20px;
      color: #E5E5E5;
    }


  }
  .react-tabs {
    flex-direction: column;
    &__tab{

    }
  }
  .panel-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
  }
  .menu {
    margin-top: 50px;

    &--bottom{
      padding: 50px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__left{
        display: flex;
        padding: 0 40px;
        &--vectors{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        h3{
          font-family: 'Shalimar', sans-serif;
          font-size: 50px;
          color: #FFFFFF;
          font-weight: 100;
          padding: 8px 30px;
        }
      }
      &__right{
        padding: 0 70px;
        &--icon{
          font-size: 30px;
          color: white;
        }
      }
    }


  }
  #footer{
    display: none;
  }

  .react-tabs__tab--selected .dd {
    display: none;
  }
  .react-tabs__tab .ttt {
    display: none;
  }
}




@media (max-width: 653px) {
  .react-tabs__tab-list {
    justify-content: center;
  }
  .panel-page__img {
    flex-direction: column;
  }
  .panel-page__img--div1 {
    flex-direction: column;
  }
  .panel-page p {
    top: 200px;
  }
  .menu {
    padding-bottom: 780px;
  }
}

@media (max-width: 511px) {
  .menu--bottom__right {
    padding: 0 20px;
  }
  .menu {
    padding-bottom: 923px;
  }
}

@media (max-width: 415px) {
  .panel-page img {
    width: 170px;
    height: 100px;
  }
  .panel-page h2 span {
    padding: 30px 0 0 0;
  }
  .menu--bottom__left {
    padding: 0;
  }
  .menu--bottom__right {
    padding: 0 10px;
  }
  .panel-page p {
    top: 144px;
  }
  .menu {
    padding-bottom: 659px;
  }
}


@media (max-width: 350px) {
  .menu {
    padding-bottom: 640px;
  }
}


