.tab_tab{
  display: flex;
  width: 100%;

  div{
    border: 1px solid red;
    width: 100px;
    margin: 0 auto;
  }
  .active{
    background: red;
  }
}

.tab_element{
  h1{
    position: absolute;
    left: 10px;
    top: 20%;
  }
}